<div id="<%= dom_id episode %>" style="margin-top: 20em">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= episode.description %>
  </p>

  <%= content_tag(:div, "", data: {
    controller: "podcast",
    podcast_title: episode.title,
    podcast_url: url_for(episode.file)
  }) %>
</div>
